@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: black;
    --background-color: white;
    --background-nav-color: #fbfbfb;
    --border-color: #dadada;
    --font-color: #6b6b6b;
}

/* @media (dark) {
    :root {
        --foreground-color: rgb(var(--foreground-rgb));
        --background-color: rgb(var(--background-rgb));
        --background-nav-color: rgb(var(--background-nav-rgb));
        --secondary-color: #6b6b6b;
    }
} */

body {
    color: var(--foreground-color);
    background: var(--background-color);
}

/* @layer utilities {
    .text-balance {
        text-wrap: balance;
    }
} */
